<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title|default="页面标题"}</title>
    <!--    加载bootstrap、jQuery、font-awesome和自定义CSS等文件-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css">
    <script src="__STATIC__/js/jquery-3.4.1.min.js"></script>
    <script src="__STATIC__/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/img/logo.jpg">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {include file="public:nav" /}
        </div>
    </div>




