{extend name='public/base' /}
{block name="content"}
<style>
    #news-container{background: #fff;min-height: 700px;border-bottom: 2px solid #cccccc;}
    #info-header{margin-top: 10px;margin-bottom: 10px;}
    #info-header h6{color: #23527C;}
    #info-header hr{width: 100%;margin: 0px auto;color:#000;}
    #news-menu ul li{width: 100%;line-height: 25px;border-bottom: 1px dashed #ccc;margin-top: 5px;}
    #news-menu ul li a{color:#1262C3;font-size: 13px;width: 50%;}
    #news-menu ul li a:hover{color:#FCDC4B;}
    #news-menu ul li a:focus{color:#1262C3;}
    #news-menu ul li span{float: right;margin-top: 6px;}
    #news-middle h5{color: #23527C;}
</style>
<!--news-->
<div class="row" id="news-container">
    <div class="col-md-10 col-md-offset-1 text-left" id="info-header">
        <h6><strong>您现在的位置：<a href="{:url('index/index')}" style="color: #23527C;">首页</a>->查询结果</strong></h6>
        <hr>
    </div>
    <div>
        <div class="col-md-8 col-md-offset-2 " id="news-menu">
            <ul>
                {volist name="resList" id="res" empty="$empty"}
                    <li>
                        <a href="{:url('admin/detail',['id'=>$res.id])}"><i class="fa fa-volume-down">&nbsp;&nbsp;{$res.title|getDetContent}</i></a>
                        <span class="badge">{$res.create_time}</span>
                    </li>
                {/volist}
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="text-center col-md-12" style="margin-top: 20px;">{$resList|raw}</div>
</div>

{/block}
