{extend name='public/base' /}
{block name="content"}
<style>
    #inform_container{background: #fff;}
    #inform-header{margin-top: 10px;margin-bottom: 10px;}
    #inform-header h6{color: #23527C;}
    #inform-header hr{width: 100%;margin: 0px auto;color:#000;}
    #inform-title h5{color: #23527C;}
    #main_container{background: #fff;}
    #main_container label{font-weight: bold;margin-top: 10px;}
</style>


<div class="row" id="inform_container">
    <div class="col-md-10 col-md-offset-1 text-left" id="inform-header">
        <h6><strong>您现在的位置：个人中心->发布通知</strong></h6>
        <hr>
    </div>
    <div>
        <div class="col-md-6  col-md-offset-2 text-left" id="inform-title">
            <h5><strong>编辑通知内容:</strong></h5>
        </div>
    </div>
</div>
<div class="row" id="main_container">
    <div class="col-md-8 col-md-offset-2">
        <form action="{:url('admin/save')}" method="post" enctype="multipart/form-data" id="post_inform" >
            <input type="hidden" name="user_id" value="{$Think.session.user_id}">

            <div class="form-group">
                <label for="title" class="control-label">通知标题</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>

            <div class="form-group">
                <label for="content" class="control-label">通知内容</label>
                <textarea name="content" id="content" style="min-height: 250px" ></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">置顶</label>
                <input type="radio" name="is_top"  value="1">是
                <input type="radio" name="is_top" value="0" checked>否
            </div>

            <div class="form-group">
                <label class="control-label">附件</label>
                <input type="file" name="attachment[]" class="form-control" multiple="multiple">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submit">发布</button>
            </div>
        </form>
        <!--        引入百度富文本编辑器-->
        <script type="text/javascript">
            var ue = UE.getEditor('content');
        </script>
    </div>
</div>

{/block}
