</div>
<div class="container">
    <!--Site Footer-->
    <div class="row" id="site-footer">
        <div class="col-md-12 text-center" id="footer-info">
            <span></span>
        </div>
        <div class="col-md-12 text-center">
            <span>地址：吉林省长春市朝阳区清河街道938号&nbsp;&nbsp;邮编：130026&nbsp;&nbsp;邮箱：tycuicn@163.com</span>
        </div>
        <div class="col-md-12 text-center" id="footer-site-address">
            <span>www.seisdmc.site</span>
        </div>
    </div>
</div>

</div>
</body>
<!--引入通讯地址省市区选择文件-->
<script src="/project/public/static/js/area.js"></script>
<script src="/project/public/static/js/select.js"></script>

</html>